<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="pessoa-box">
        <button>Cadastrar nova pessoa</button>
        <div class="input-box">
            <label>Procurar:</label>
            <input type="text" placeholder="Qual registro está buscando?">
        </div>
    </div>

    <table class="table">
        <thead>
            <th></th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Nacionalidade</th>
            <th>RG</th>
            <th></th>
            <th></th>
        </thead>

        <tbody>
            <tr>
                <td>
                    <img src="assets/images/Ativo.png" alt="Icon-Ativo" style="height: 20px; width: 20px;">
                    <img src="assets/images/Inativo.png" alt="Icon-Ativo" style="height: 20px; width: 20px;">
                </td>
                <td>Luiz Gustavo</td>
                <td>13/02/2007</td>
                <td>BR</td>
                <td>11.222.333-4</td>
                <td>
                    <button>Editar</button>
                    <button>Detalhes</button>
                </td>
                <td>
                    <button>Excluir</button>
                </td>
            </tr>
        </tbody>

    </table>

</body>
</html>